@{
    ViewData["Title"] = "Home Page";
}

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>


<div class="row">
    <div class="col s12 m6">
        <div class="card #26a69a teal lighten-1">
            <div class="card-content white-text">
                <span class="card-title"><strong>Produtos</strong></span>
                <p>
                    Ver informações de Produtos, e criar Produtos.
                </p>
            </div>
            <div class="card-action">
                <a asp-area="" asp-controller="Produtos" asp-action="Index">VER MAIS</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card #26a69a teal lighten-1">
            <div class="card-content white-text">
                <span class="card-title"><strong>Consumidores</strong></span>
                <p>
                    Ver informações de Consumidores, e criar Consumidores.
                </p>
            </div>
            <div class="card-action">
                <a asp-area="" asp-controller="Consumidores" asp-action="Index">VER MAIS</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card #26a69a teal lighten-1">
            <div class="card-content white-text">
                <span class="card-title"><strong>Items Pedidos</strong></span>
                <p>
                    Ver informações de Items, e criar.
                </p>
            </div>
            <div class="card-action">
                <a asp-area="" asp-controller="ItemPedidoes" asp-action="Index">VER MAIS</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card #26a69a teal lighten-1">
            <div class="card-content white-text">
                <span class="card-title"><strong>Sementes</strong></span>
                <p>
                    Ver informações de Items, e criar.
                </p>
            </div>
            <div class="card-action">
                <a asp-area="" asp-controller="Sementes" asp-action="Index">VER MAIS</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card #26a69a teal lighten-1">
            <div class="card-content white-text">
                <span class="card-title"><strong>Pedidos</strong></span>
                <p>
                    Ver informações de Pedido, e criar Pedidos.
                </p>
            </div>
            <div class="card-action  ">
                <a asp-area="" asp-controller="Pedidos" asp-action="Index">VER MAIS</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card #26a69a teal lighten-1">
            <div class="card-content white-text">
                <span class="card-title"><strong>Vendas</strong></span>
                <p>
                    Ver informações de Vendas, e criar Vendas.
                </p>
            </div>
            <div class="card-action  ">
                <a asp-area="" asp-controller="Vendas" asp-action="Index">VER MAIS</a>
            </div>
        </div>
    </div>
</div>
